################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MauiBugs/FileContentIndex
/FormattingBug/.vs
/FormattingBug/bin/Debug/net6.0-android
/FormattingBug/obj
